<div class="content">
    <h1>Dashboard</h1>
    <div class="main_content"> 
        <h2>Content</h2>
        <div class="content_container">
            <p>Bacon Ipsum</p>
        </div>
    </div>
</div>
