.msgToggle {
    display: flex;
    height: 100%;
    align-items: center;
}
.msgContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 400px;
    height: 50%;
    text-align: center;
    overflow: auto;
}
.msgContainer::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    color: white;
    z-index: -1;
}
.msgControls {
    position: absolute;
    top: 0;
    right: 0;
}
.msgList {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}
