<div class="msgToggle"> 
    <button class="toggleMsg" (click)="dormant = !dormant">Messages</button>
    <button class="toggleMsg" (click)="messages.push('Message:' + messages.length); dormant = false;">test</button>
</div>
<div class="msgContainer" *ngIf="!dormant">
    <h1>Message</h1><div class="msgControls">
        <button class="removeMsgs" (click)="removeAllMsg()">Clear</button>
        <button class="toggleMsg" (click)="messages.push('Message:' + messages.length); dormant = false;">test</button>
        <button class="hideMsg" (click)="dormant = !dormant">Hide</button>
    </div>
    <ul class="msgList">
        <li *ngFor="let msg of messages; let i = index">
            <span class="msgText">{{msg}} </span>
            <button class="removeMsg" (click)="removeMsg(i)">x</button>
        </li>
    </ul>

</div>