<div class="body filter" [ngClass]="darkTheme ? 'dark' : ''">
  <div class="header">
    <span class="title h1">{{title}}<button class="toggleTheme" (click)="toggleTheme()">{{darkTheme ? 'Light' : 'Dark'}}</button></span>
    <app-navigation></app-navigation>
    <app-messages></app-messages>
  </div>
<router-outlet></router-outlet>

</div>