@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-bg-color: rgba(255,255,255,1);
    --main-color: rgba(0,0,0,1);
    --filter-color: rgba(0,0,0,.1);
    --main-bg-color-dark:rgba(0,0,0,1);
    --main-color-dark:rgba(255,255,255,1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.body {
    height: 100vh;
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}
.body.dark {
    background-color: var(--main-bg-color-dark);
    color: var(--main-color-dark);
}
.filter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    background-color: var(--filter-color);
    z-index: -1;
}

ul {
    list-style: none;
}
.h1 {
    display: block;
    font-size: 30px;
}
button, a {
    cursor: pointer;
}