.navContainer {
    height: 100%;
}
.navContainer nav {
    height: 100%;
}
.navList {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navItem {
    margin: 0px 10px;
    cursor: pointer;
}
