<div class="navContainer">
    <nav>
        <ul class="navList">
            <li *ngFor="let d of dests" class="navItem" (click)="nav(d)"><span class="navText">{{d | titlecase}}</span></li>
        </ul>
    </nav>
</div>